/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.headline {
    color: black;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; 
}

.boldfont {
  font-size: 20px;
}

.panel-default {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.well {
  background-color: rgba(255, 255, 255, 0.8);
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

body {
    background: image-url('c_board.png');
    // background-image:url('<%= asset_path("c_board.png") %> ');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px;
    font-family: 'Orbitron', sans-serif;
  }

  img {
  @extend .img-responsive;
  margin: 0 auto;
  }

.change{
  width: 5px;
}

